<section class="HEROSEC-HeroSection1">
    <div class="HEROSEC-container container">
      <div class="HEROSEC-left-content"  >
        <span class="HEROSEC-WelcomeTOHE" data-aos="fade-up"
        data-aos-duration="1000">Welcome to </span><span class="HEROSEC-WelcomeTOHERI" data-aos="fade-up"
        data-aos-duration="1000">Ridhitek</span>
        <div class="HEROSEC-second-content1" data-aos="fade-up"
        data-aos-duration="1000">Digital Transformation</div>
        <div class="HEROSEC-second-content2" data-aos="fade-up"
        data-aos-duration="1000">IT Solutions & Services.</div>
        <h5 class="HEROSEC-HeroComAbout" data-aos="fade-up"
        data-aos-duration="1000">Recruiting industry specialists with extensive experience in Pvt Ltd and corporate recruitment founded Ridhitek in 2024 as a digital transformation IT consulting and services company.</h5>
       <a href="#whoweare"><button class="HEROSEC-button" >Get Started</button></a>
      </div>
      <div class="HEROSEC-right-content" data-aos="fade-up"
      data-aos-duration="1000">
        <img src="https://s3-alpha-sig.figma.com/img/6e3c/1f67/3b211dc2b06d2949a94d190ce506d9fb?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=W3009c-6Ysl8J36pNT9N5c5wGc~Ms6iZ4uFZRsXSWJfbRVjgGTGAzSbRexOGk9INGUKXH8HOXhREeWWX~0LtBHRzOns3Vd2ztKnEw73R3iojvFCrht6-~HRNsPw8hfJyDQJIdQNsPNsGqZCKqPk9lUiqFjPFXobNWegmf01U0pXY23OYGKV6E9CWheP1~t2EMzpok6aqOYudvx85PDnStdY3DN13n8JdUS0OewppF~6r1ctUZQ-zkosuRovP9NmUMA2GbF7EiaYny3KujSfkVZiIl-IcDuggPC35gZa5gBJbWZIyI7ivBlNtKttMJp7Zd1pw79mqHb9sd8cdr1Sl-A__" alt="Your Image" style="max-width: 100%; height: auto;">
        <!-- .//src/assets/IMAGES/Hero.png -->
       </div>
    </div>
  </section>
 
  <section>
    <div class="HEROSEC-right-content2">
    <img src="https://s3-alpha-sig.figma.com/img/6e3c/1f67/3b211dc2b06d2949a94d190ce506d9fb?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=T~7IdX4avgXlcCyvnqBtpm3oHmo4R7jD2z3guH3falqXvtm5HQFVUaRmZL5-CCdgNTL4bPp983wjLxFBJERBj1y37pvaQHgSnnPhQ2KPJYVJUjIL6PUrjTk4UgcPgp6Hcem55qfucPlp3fOrJvCw0hLPk30TpFty4RR6kJLSoZSUaqSfejsPUAtIxeJUTfL4ZZYfB7Mn2vHPEwUHtGkRcyGDhSBGFzAucitb4cksBa9MIpNMk4xmT2mgETusTKb6xue5bvXUy9ruti9QkaGeVBpVuOExf4bVTID5KAG4ix08AwZB8AER5VHzMzXq1PG8wkba5~CdRkV5o9UPAAlS9g__" alt="Your Image" style="max-width: 100%; height: auto;">
    </div>
  </section>
  
