<div class="container" id="hi">
  <div class="containerOverviewAbout-aboutOverview">
       <div class="leftOverviewAbout-aboutOverview" data-aos="fade-up"
            data-aos-duration="1000">
             <img src="https://s3-alpha-sig.figma.com/img/1639/8677/72776a33aaccac7e1eeaa4eeb83e3177?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Rn65UGJggQtu7YTISWQxMSRfW-qxqMDvhc4y06wPDLeTfPHl1y5BennKpsywwjkjxoVFkB6bWjNmVH7qq1Q3VBjgbpL0N9Y5ecpqUtbwc07GSw8OxXJgqhuF6Upk5-1O8ebSBOkyYbNH2NBqxLO3P6UmP35vclVvYCLEWY5wMph8LHcLTI6H5spxav3WBe-YbIjTPJSMub9ZC4S~rTwWOX6uHzZwxOZlEtOY9ObIB7cy2BNqE1EQtm9k2OdO-IsRQhrxVbZNu8pxzFkEzyRuZGoZU3idfo~3rYhCmB4Cc46tkLw4g7bvDgRbQUAFzRk7HOuxvjxNuZ~MMPILoa~AJw__" alt="Left Image">
       </div>
      <div class="rightOverviewAbout-aboutOverview" >
      <h2 data-aos="fade-up"
            data-aos-duration="1000">OVERVIEW</h2>
            <p data-aos="fade-up"
            data-aos-duration="1000">
               Originally established as a specialized provider of technological services and solutions, Ridhitek was limited to the card, payment, and lending industries. With our next-generation digital services and consultancy, we help clients in 15 countries navigate their digital transition.
            </p>
            <p data-aos="fade-up"
             data-aos-duration="1000">
             We professionally guide our clients through their digital transformation projects thanks to our more than ten years of experience managing systems and working for financial institutions, third-party payment processors, and fintech companies. We are able to create exceptional project delivery experiences and performance levels never before seen thanks to our deep domain expertise, technological know-how, and application level competence in the three areas. Positively outrageous client delight is the result.
             </p>
      </div>
  </div>
</div>